#  Environment variables
.env
.env.*
!.env.example

#  Node modules
node_modules/

# 🏗 Build folders
dist/
build/

#  Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#  Coverage
coverage/

#  Temporary files
*.tmp
*.bak
*.swp

# 🖼 Uploads (if user files stored locally)
uploads/

# 🖥 OS files
.DS_Store
Thumbs.db

#  IDE settings
.vscode/
.idea/

#  Cache files
.cache/